:root {
  --image-width: 50%;

  --image: 50px;

  --image-hero: 20%;
}
.img-ride{
  width  : var(--image);
  height : var(--image);
}
.heroImg{
  width  : var(--image-hero);
  height : var(--image-hero);
}
/* width="50px" height="50px"*/

@media (min-width:320px) and (max-width:768px) {
    .hero img{
        height : var(--image-width) !important; 
        width : var(--image-width) !important;
    }

}
